<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章添加</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="<%= CDNURL %>/static/layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">文章标题</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="title" lay-verify="required" placeholder="请输入文章标题">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">自定义属性</label>
				<div class="layui-input-block">
          <input type="checkbox" name="state" class="state" title="是否显示文章" checked>
					<input type="checkbox" name="recommend" class="tuijian" title="推荐">
					<input type="checkbox" name="stick" class="newsStatus" title="顶置">
				</div>
      </div>
			<div class="layui-inline">		
				<label class="layui-form-label">文章作者</label>
				<div class="layui-input-inline">
					<input name="username" value="<%= users.username %>" type="text" class="layui-input newsAuthor layui-disabled" disabled lay-verify="required" placeholder="请输入文章作者">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">分类</label>
				<div class="layui-input-inline">
					<select name="typeName" class="newsLook" lay-filter="typeName">
				       <option value="0">请选择</option>
				    </select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">内容描述</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容描述" name="abstract" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章内容</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="news_content"></textarea>
			</div>
    </div>
    <div class="layui-form-item" style="position:relative;">
        <label class="layui-form-label">封面</label>
        <div class="layui-input-inline" style="width: 190px;margin-right: 10px; border:1px solid #dedede;">
            <input id="articleCoverSrc" name="coverImg" type="hidden">
            <img id="articleCoverImg" style="width:100%; height:auto;" class="img-cover" src="<%= CDNURL %>/static/images/cover_default.jpg" alt="封面">
        </div>
        <div class="layui-input-inline" style="position: absolute;bottom: 0;">
            <input type="file" name="coverImgs" id="coverImgs" class="layui-upload-file" lay-title="点击上传" lay-ext="jpg|png|bmp">
        </div>
    </div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addNews">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script>
	    var CDNURL = '<%= CDNURL %>';		

		<% if(id == "add"){ %>
			var ids = 'add';
		<% }else{ %>
			var ids = <%= id %>;
		<% } %>
	</script>
	<script type="text/javascript" src="<%= CDNURL %>/static/layui/layui.js"></script>
	<script type="text/javascript" src="<%= CDNURL %>/static/page/news/newsAdd.js"></script>
</body>
</html>